#no-mobile {
  position: absolute;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  top: 0;
}

@media screen and (max-width: 645px) {  /* width 가 645보다 작거나 같을 때 화면 가림이 해제됨 */
  #no-mobile {
    display: none;
  }
}