.status-bar {
  display: flex;
  justify-content: center;
  padding: 5px 3px;
}

.status-bar__column {
  width: 33%;  /* status-bar__column 적용된 div 들이 모두 33% 의 너비를 갖도록 지정. 따라서 가로축으로 3등분되고, 내부 내용들은 왼쪽에서 보임 */
}

.status-bar__column:first-child span {
  margin-right: 5px;
}

.status-bar__column:nth-child(2) span {
  display: flex;
  justify-content: center;  /* 두번째 div 의 span 의 내용을 화면 가운데 오도록 강제 정렬 */
}

.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end; /* 세번째 div 의 내부 요소들을 오른쪽 끝에 오도록 강제 정렬 */
  align-items: center;
}

.status-bar__column .fa-battery-full {
  margin: 0px 5px;
}